@font-face {
  font-weight: 200;
  font-family: "Modernist Light";
  src: local("Modernist Light"),
    local("Modernist Light"),
    url("../static/fonts/Modernist/Modernist-light.woff") format("woff"),
    url("../static/fonts/Modernist/Modernist-light.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Modernist Regular";
  src: local("Modernist Regular"),
    local("Modernist Regular"),
    url("../static/fonts/Modernist/Modernist-regular.woff") format("woff"),
    url("../static/fonts/Modernist/Modernist-regular.woff2") format("woff2");
}

@font-face {
  font-weight: 200;
  font-family: "Modernist Bold";
  src: local("Modernist Bold"),
    local("Modernist Bold"),
    url("../static/fonts/Modernist/Modernist-bold.woff") format("woff"),
    url("../static/fonts/Modernist/Modernist-bold.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Modernist Mono";
  src: local("Modernist Mono"),
    local("Modernist Mono"),
    url("../static/fonts/Modernist/Modernist-mono.woff") format("woff"),
    url("../static/fonts/Modernist/Modernist-mono.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Codec Pro Regular";
  src: local("Codec Pro Regular"),
    local("Codec Pro Regular"),
    url("../static/fonts/CodecPro/CodecPro-Regular.woff") format("woff"),
    url("../static/fonts/CodecPro/CodecPro-Regular.woff2") format("woff2");
}

