@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: "Modernist Light";
  src: local("Modernist Light"),
    local("Modernist Light"),
    url("../static/fonts/Modernist/Modernist-light.woff") format("woff"),
    url("../static/fonts/Modernist/Modernist-light.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Modernist Regular";
  src: local("Modernist Regular"),
    local("Modernist Regular"),
    url("../static/fonts/Modernist/Modernist-regular.woff") format("woff"),
    url("../static/fonts/Modernist/Modernist-regular.woff2") format("woff2");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: "Modernist Bold";
  src: local("Modernist Bold"),
    local("Modernist Bold"),
    url("../static/fonts/Modernist/Modernist-bold.woff") format("woff"),
    url("../static/fonts/Modernist/Modernist-bold.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Modernist Mono";
  src: local("Modernist Mono"),
    local("Modernist Mono"),
    url("../static/fonts/Modernist/Modernist-mono.woff") format("woff"),
    url("../static/fonts/Modernist/Modernist-mono.woff2") format("woff2");
}



@font-face {
  font-weight: 400;
  font-family: "Castoro Regular";
  src: local("Castoro Regular"),
    local("Castoro Regular"),
    url("../static/fonts/Castoro/Castoro-Regular.woff") format("woff"),
    url("../static/fonts/Castoro/Castoro-Regular.woff2") format("woff2");
    
}

@font-face {
  font-weight: 400;
  font-family: "Castoro Italic";
  font-style: normal;
  src: local("Castoro Italic"),
    local("Castoro Italic"),
    url("../static/fonts/Castoro/Castoro-Italic.woff") format("woff"),
    url("../static/fonts/Castoro/Castoro-Italic.woff2") format("woff2");

}

